html
{
  background-color: #a7dbf2;
  font-family: Georgia;
}

body
{
  font-size: 24pt;
}

#page_title
{
  font-size: 38pt;
  text-align: center;
}

.blank
{
    text-align: center;
}

#submission_button
{
  text-align: center;
  font-size: 38pt;
}

#box1
{
  border: solid;
  padding-top: 20px;
  padding-bottom: 20px;
}
