<!DOCTYPE html>
<html>
  <head>
    <title>About Jakspot</title>
    <link rel="stylesheet" text="text/css" href="/stylesheets/about.css">
    <script src="/static/main.js"></script>
  </head>
    <body>
      <div class="topbar">
        <a href="#" class="menu"> <span class="closebtn" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span> </a>
        <a id="title" href="/"> <img src="/static/title_edit.png"> </a>
      </div>
      <div class="menu">
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="/">Home</a>
          <a href="/submit">Submit</a>
          <a href="/about"> About </a>
        </div>
        <!-- <span class="closebtn" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span> -->
      </div>
      <div class="text">
        <h1> Welcome to Jakspot</h1>
        <div class="about_para">
          <div class="intro_about">
          <p>
          Want to explore a city but don't want to hit up all the tourist locations?
          </p>
          <p>
          Got a friend in town for the weekend and want to show them around but not sure where to start?
          </p>
          <p>
            Jakspot has the answers to these questions.
          </p>
        </div>
          <p>
          Jakspot is the perfect space to share recommendations and find new places to
          explore. Whether it be a great place to watch the sunset or a hidden path in your local park, share your favorite spots with others and check out new ones. Go out, explore, and let us know when you've hit a Jakspot!
          </p>


        </div>
      </div>
    </body>
</html>
