<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" text="text/css" href="/stylesheets/main.css">
    <script src="/static/main.js"></script>
    <script>
    function displayLoc(){
      var mapProp= {
        center:new google.maps.LatLng(42.3627413,-71.0884069),
        zoom:12,
        };
        var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
        {% if address %}
          strLoc = "{{ address }}"
          geocodeAddress(strLoc, map);
        {% endif %}
    }
    </script>
  </head>
    <body>
      <div class="topbar">
        <a href="#" class="menu"> <span class="closebtn" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span> </a>
        <a id="title" href="/"> <img src="/static/title_edit.png"> </a>
      </div>
      <div class="menu">
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="/">Home</a>
          <a href="/submit">Submit</a>
          <a href="/about"> About </a>
        </div>
        <!-- <span class="closebtn" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span> -->
      </div>
      <div class="text">
        <h1> Discoveries Made Near You </h1>
      </div>
      <div id="googleMap" style="width:80%;height:200px;"></div>
      <div id="map"></div>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdsbzGk0yePzMKcptJA7I30MvHGlqhvwg&libraries=places&callback=displayLoc"></script>
      <br></br>
    </body>
</html>
