<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" text="text/css" href="/stylesheets/main.css">
    <script src="/static/main.js"></script>
  </head>
    <body>
      <div class="topbar">
        <a href="#" class="menu"> <span class="closebtn" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span> </a>
        <a id="title" href="/"> <img src="/static/title_edit.png"> </a>
      </div>
      <div class="menu">
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="/">Home</a>
          <a href="/submit">Submit</a>
          <a href="/about"> About </a>
        </div>
        <!-- <span class="closebtn" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span> -->
      </div>
      <div class="text">
        <h1 id="page_title"> Discoveries Made Near You </h1>
      </div>
    </body>
</html>
