<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" text="text/css" href="/stylesheets/main.css">
    <script src="/static/main.js"></script>
  </head>
    <body>
      <div id="menu">
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="/">Home</a>
          <a href="/submit">Submit</a>
        </div>
        <span class="closebtn" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
      </div>
        <h1> Discoveries Made Near You </h1>
        <form id="back_button" action="/submit">
            <input type="submit" value="Submit a Discovery">
            <br></br>
        </form>
        <div id= "box1">
            <div id="post_image">
                <!-- <img src="static/test_image.jpg" alt="Sunset"> -->
            </div>

            <h2>{{ title }}<h2>
            <p></p>
            <h3>{{ desc }}<h3>
            <p></p> <p></p>
            <h3>{{ location }}</h3>
        </div>
    </body>
</html>
