<!DOCTYPE html>
<html>
  <head>
      <title>Submit</title>
      <link rel="stylesheet" text="text/css" href="/stylesheets/submit.css">
      <script src="/static/main.js"></script>
      <!-- <form id="back_button" action="/">
          <input type="submit" value="Back to Home">
      </form> -->
    <body>
      <div class="topbar">
        <a href="#" class="menu"> <span class="closebtn" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span> </a>
        <a id="title"> <img src="/static/title_edit.png"> </a>
      </div>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">Home</a>
        <a href="/submit">Submit</a>
      </div>
      <!-- <span class="closebtn" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span> -->
      <h1 id= "page_title">Submit a discovery!</h1>
        <div id="box1">
          <form action="/" enctype="multipart/form-data" method="post">
            <div class="blank">What did you discover? : <input type="text" name="title"></div>
            <p></p>
            <div class="blank">Describe it. : <input type="text" name="desc"></div>
            <p></p>
            <div class="blank">Where is it located? : <input type="text" name="location"></div>
            <p></p>
            <div class="blank">
              Submit an image. : <input type="file" name="image" accept="image/*">
            </div>

            <div id="submission_button">
              <input type="submit" value="Share This!">
            </div>
          </form>
         </div>
      </body>
  </head>
</html>
